@model Pi.Controllers.DistanceMeasured
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Distance</h1>
    <p> @Model.ExceptionMessage is null? Last measured distance is: @Model.WithUnit : Unable to display last distance due to an exception. @Model.ExceptionMessage </p>
</div>